body { 
    font-family: 'Space Mono', monospace; 
    display: flex;
    flex-direction: column;
    max-width: 420px;
    padding: 32px;
    margin: 60px auto;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    letter-spacing: -0.25px;
  }
  ol { padding-left: 50px; }
  li { 
    color: #4F4F4F; 
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    
    &:before {
      content: '';
      display: block;
      height: 42px;
      width: 42px;
      border-radius: 50%;
      border: 2px solid #ddd;
      position: absolute; /*yeah, you have to manually position it based on the text size, line height, etc. (in the parent li style). it's not the smarest solution */
      top: -12px;
      left: -46px;
    }
  }
  
  strong { color: #292929; }
  ol.alternating-colors { 
    li:nth-child(odd):before { border-color: #0BAD02; }
    li:nth-child(even):before { border-color: #2378D5; }
  }
  .complete{
    border-radius: 10px;
  }
  
    .button1 {
      background-color: #04AA6D; 
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  .button2{
    background-color: violet; 
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
  .input{
    border: 3px solid #555;
  }